fastapi
uvicorn
python-multipart
langchain
langchain-groq
langchain-chroma
langchain-community
langchain-huggingface
chromadb
pypdf
python-docx
docx2txt
pydantic
python-dotenv
groq
sentence-transformers
